{% extends "base.html" %}

{% block content %}
    <div class="content-section">
        <h2>Add New Task</h2>
        <form method="POST" action="{{ url_for('new_task') }}">
            {{ form.hidden_tag() }}

            <div class="form-group">
                {{ form.title.label(class="form-control-label") }}
                {{ form.title(class="form-control", placeholder="Longer than three characters and not equal to module code", required=True) }}
                {% for error in form.title.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="form-group">
                {{ form.module_code.label(class="form-control-label") }}
                {{ form.module_code(class="form-control", placeholder="In the format like XJCO2011", required=True) }}
                {% for error in form.module_code.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="form-group">
                {{ form.description.label(class="form-control-label") }}
                {{ form.description(class="form-control", rows=5, placeholder="Enter task description") }}
                {% for error in form.description.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="form-group">
                {{ form.deadline.label(class="form-control-label") }}
                {{ form.deadline(class="form-control", required=True) }}
                {% for error in form.deadline.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="form-group">
                {{ form.importance.label(class="form-control-label") }}
                {{ form.importance(class="form-control", required=True) }}
                {% for error in form.importance.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/task-validation.js') }}?v=1.0"></script>
{% endblock %}
