<!-- extend from layout.html show those who you follow -->
{% extends "layout.html" %}
{% block content %}
    <div class="row">
        <div class="col-10">
            <h2>Following</h2>
            <hr>
            <div class="row">
                {% for user in following %}
                    <div class="col-4">
                        <div class="card">
                            <img class="card-img-top" src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}" alt="Profile Picture">
                            <div class="card-body">
                                <h5 class="card-title
                                    {% if user == current_user %}
                                        text-primary
                                    {% endif %}">
                                    <a href="{{ url_for('get_user', username=user.username) }}">{{ user.username }}</a>
                                </h5>
                                <p class="card-text">{{ user.email }}</p>
                                {% if user != current_user %}
                                    {% if current_user.is_following(user) %}
                                        <a href="{{ url_for('unfollow_user', username=user.username) }}" class="btn btn-primary">Unfollow</a>
                                    {% else %}
                                        <a href="{{ url_for('follow_user', username=user.username) }}" class="btn btn-primary">Follow</a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}